main {
    #colortable {
        color: #000000;
    }
    .colormain {
        color: #000000 ;
    }
    
    
    .font-h1 {
        font-family: 'Rampart One', cursive;
        
        text-align: center;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'Rampart One';
    }
    h3 {
        font-family:'Roboto Condensed', sans-serif;
        font-weight: 400;
    }
    h4 {
        font-family: 'Bebas Neue', cursive;
    }
    
    .fontlink {
        font-family: 'Roboto Condensed', sans-serif;
    }
    .text-img {
        text-align: center;
    }
    
    
}



* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background-image:url('../public/background-images/background-image1.jpeg');

}

ul {
    list-style-type: none;
}

p {
    font-family:'Roboto Condensed', sans-serif ;
    font-weight: 300;
}

a {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    transition: all 0.2s;
}

a:hover {
        
    font-size: 28px;
}

.colorlinks {
    color: #000000;
}
.color-p {
    color: #000000;
    
}

.fontlink-is {
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 16px;
}
    
@media only screen and (min-width: 768px) {
    main {
        .section-form-contacto {
            padding: 50px;
        }
    }
}


